.consulting-services {
    padding: 20px 10px;
    h2 {
        text-align: center;
    }
    .grid {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, minmax(150px,300px));
        grid-gap: 15px;
        .card {
            h3 {
                text-align: center;
            }
            background-color: white;
            padding: 15px;
            border: 1px solid gray;
            border-radius: 10px;
        }
    }
}