.trade {
    text-align: center;
    a {
      font-size: 26px;
      border: 5px solid #c0c0c0;
      background-color: cadetblue;
      opacity: 0.9;
      border-radius: 30px;
      text-decoration: none;
      padding: 6px 120px;
      color: white;
    }

  .grid_trade {
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(150px, 400px));
    // grid-gap: 10px;
    // justify-content: center;
    margin: 15px auto;
    max-width: 400px;
    padding: 0px;

    h4 {
      font-size: 32px;
      border: 5px solid #c0c0c0;
      background-color: cadetblue;
      opacity: 0.9;
      border-radius: 30px;
      padding: 10px;
      text-align: center;
    }

    .trade,
    .fish-menu,
    .biosil {
      height: 600px;
      color: white;
      text-decoration: none;
      font-weight: bold;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-size: cover;
      padding: 0px 5px;
      border: 3px solid orange;

      

      &.trade {
        background-image: url(../images/trade.jpg);
      }

      &.fish-menu {
        background-image: url(../images/fish.jpg);
      }

      &.biosil {
        background-image: url(../images/bio2.jpg);
        background-position: center;
      }
    }

    @media (max-width: 840px) {
      .trade,
      .fish-menu,
      .biosil {
        height: 400px;
      }
    }
  }
}
