.header {
  display: flex;
  justify-content: space-around;
  img {
    max-height: 100%;
  }

  a {
    text-decoration: none;
    color: black;
    font-size: 18px;
  }

  h3 {
    display: none;
    background-color: cadetblue;
    border: 5px solid #c0c0c0;
    color: white;
    border-radius: 30px;
    width: 110px;
    text-align: center;
    margin: auto;
  }

  .contacts {
    display: flex;
    flex-direction: column;
    padding: 15px;
    .phones-block {
      > div {
        display: inline-block;
      }
      .phones-svg {
        width: 35px;
        margin: 2px;
      }
      .phones > a {
        display: block;
      }
    }
    .fax,
    .mail,
    .skype {
      height: 35px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      > img {
        width: 35px;
        margin-right: 2px;
      }
    }
  }

  @media (max-width: 550px) {
    display: flex;
    flex-direction: column;
    align-items: center;

    .contacts {
      align-items: center;
    }

    h3 {
      display: block;
    }
  }
  @media (max-width: 345px) {
    .phones-block {
      text-align: center;
    }
  }
}
